package mypackage;


class {{class_name}} 
{
    {{#methods}}
    inline public function {{method_other_name_camel_case}}({{#arguments}}{{argument_name}}:{{argument_type_pascal_case}}{{comma}}{{/arguments}}):{{result_type_pascal_case}}
    {
        {{method_return}}this.object.{{method_other_name_camel_case}}({{#arguments}}{{argument_name}}{{comma}}{{/arguments}});
    }

    {{/methods}}
}